{% extends 'association/base_association.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Create new Evenement</h1>

    {{ include('association/_form.html.twig') }}

    <a href="{{ path('association_home', {'name' : name}) }}">back to list</a>
{% endblock %}
