{% extends 'association/base_association.html.twig' %}


{% block title %}Personalisation 2{% endblock %}

{% block body %}
    <h1>Personalisation 2</h1>
    {% include ('configuration/_form.html.twig') %}
    <img src="{{ asset('upload/logo/logo.png') }}" alt="Logo">
    <a href="{{ path('association_home', {'name' : name}) }}">Retour</a>
{% endblock %}

