/* DEBUT DU CSS CONCERNE PAR LES PAGES */
/* GERER LES MEDIA QUERIES PLUS TARD */

/* Connexion */
.login-section {
    justify-content: center;
    align-items: center;
}

.login-section img {
    max-width: 150px;
    margin-bottom: 20px;
}

.login-title {
    /* white-space: nowrap; */
    margin: auto;
}

.login-section .grid-1 .grid-item {
    padding: 20px;
    background-color: var(--white-color);
    border: solid 0px var(--grey-color);
    box-shadow: none;
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

.input-container input {
    width: 100%;
}

/* .checkbox-connexion {
    width: 100%;
} */

/* .checkbox-connexion label {
    display: flex;
    color: var(--secondary-color);
}

.checkbox-connexion span {
    white-space: nowrap;
    color: var(--primary-color);
    margin: 0 auto;
    align-items: center;
} */



/* .checkbox-connexion img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-bottom: 20px;
} */

/* .checkbox-connexion .page-to-check span {
    white-space: nowrap;
    margin-bottom: 15px;
    margin-right: 100px; 
    color: var(--primary-color);
} */

/* Choix des rubriques */
.container-center .grid-item {
    max-width: 350px;
    box-shadow: 0 10px 30px 0 rgba(128, 128, 128, 0.4);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    margin: auto;
}

.container-center .grid-item ul {
    list-style-type: none;
    /* padding: 0; */
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}

.container-center .grid-item li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.container-center .grid-item label {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Push the label to the right */
}

.container-center .grid-item label img {
    width: 20px;
    height: 20px;
    margin-right: 25px;
    cursor: pointer;
}

.container-center .grid-item img:hover {
    opacity: 0.7;
}

/* Choix du Logo */
.logo-section .grid-item .logo-change img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* margin: 0 auto; */
}

/* Choix des couleurs */
/* ... */

/* Récapitulatif des choix */
.recap-choix .container-center .grid-item {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    min-width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-item .logo-change img {
    width: 200px;
    height: 200px;
    margin: auto;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Ajuster l'espacement entre les éléments */
}

.recap-choix .grid-item {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    min-height: 300px;
    position: relative;
}

.recap-choix .grid-item button {
    position: absolute;
    bottom: 20px;
    right: 0px;
}

.recap-choix .grid-item .button-link {
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.recap-choix .grid-item ul {
    list-style-type: none;
    padding: 0;
}

.recap-choix .grid-item .logo-change img {
    max-width: 100%;
    height: auto;
}

.recap-choix .grid-item .color-selection .color-option {
    margin-bottom: 10px;
}

.recap-choix .grid-item .color-selection .color-box {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #ccc;
}

.recap-choix .grid-item .color-selection .color-modify {
    text-decoration: none;
}

.recap-choix #button-third {
    margin-top: 50px;
}

/* .recap-choix .grid-item button {
    bottom: 0;
}

.recap-choix .container-center .grid-item {
    margin-top: 20px;
    margin-bottom: 20px;
} */

/* .recap-choix .container-center .grid-item button { */
/* margin-top: 20px; */
/* margin-bottom: 20px; */
/* } */


.informations_banner {
    background-color: rgba(189, 189, 189, 0.9);
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    text-align: left;
}

.arrow {
    color: var(--primary-color);
}

/* Introduction */
.introduction {
    padding: 40px;
    align-items: center;
    text-align: center;
    background-color: var(--third-color);
    color: var(--white-color);
}

.text-introduction {
    margin-top: 20px;
    margin-bottom: 20px;
    /* text-justify: inter-word; */
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* SUPEr6ADMIN */
.super-admin {
    padding: 40px;
    margin-top: 40px;
    align-items: center;
    text-align: left;
    margin: 10px;
}

.superadmin-table {
    width: 100%;
    border-collapse: collapse;
}

.superadmin-table th {
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 10px;
    text-transform: uppercase;
}

#calendar-holder {
    margin : 0 20px;
    padding-top: 20px;
}

.fc {
    margin : 0 20px;
    padding-top: 20px;

}
.superadmin-table td {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}

.superadmin-table td:first-child,
.superadmin-table td:nth-child(2) {
    text-align: left;
}

.superadmin-table td:nth-child(3) {
    text-align: right;
}

.superadmin-table td:last-child {
    text-align: left;
}

.superadmin-table a {
    cursor: pointer;
}

/* tr:nth-child(even) td {
    background-color: #f2f2f2;
} */

.rubrics {
    margin: 0 auto;
    text-align: center;
}

.rubrics .grid-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.rubrics .grid-item {
    position: relative;
    background-color: var(--white-color);
    padding-bottom: 20px;
    width: 300px;
    height: 350px;
    border: solid 2px var(--grey-color);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rubrics .grid-item .img-rubrics {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Events */
.events {
    padding: 40px;
}

/* .events .grid-3 {
    gap: 50px;
} */

.events .grid-item {
    position: relative;
    background-color: var(--white-color);
    padding: 20px;
    border: solid 1px var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
}

.events .grid-item .image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.events .grid-item .image-event {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: solid 2px var(--grey-color);
}

.events .grid-item .event-title {
    margin-top: 20px;
    text-align: left;
    font-weight: 500;
}

.events .grid-item .event-date {
    text-align: left;
    font-style: italic;
}

.events .grid-item .bottom-border {
    margin-top: 15px;
    margin-bottom: 15px;
}

.events .grid-item .event-info {
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: left;
}

.events .grid-item .event-place {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: left;
    font-style: italic;
}

/* .events .grid-item #button {
    float: center;
} */

/* .events .grid-item .event-button {
    margin-top: 10px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    transition: background-color 0.3s ease;
} */

.button-go-to {
    /* margin-bottom: 20px; */
}

/* .button-go-to .button-arrow {
    display: flex;
    align-items: center;
} */

.gallery {
    margin: 0 auto;
    text-align: center;
}

.gallery .grid-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.gallery .grid-item {
    position: relative;
    background-color: var(--white-color);
    padding-bottom: 20px;
    width: 300px;
    height: 350px;
    border: solid 2px var(--grey-color);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery .grid-item .img-rubrics {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.gallery .grid-item .gallery-title {
    margin-top: 20px;
    font-weight: 500;
}

.gallery .grid-item a#button {
    margin-top: auto;
}

.gallery .grid-item a#button button {
    margin-top: 20px;
    margin-bottom: 30px;
}

.gallery .grid-item .bottom-border {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* .gallery .grid-item .gallery-title {
    margin-top: 20px;
    font-weight: 500;
} */

/* Galerie (photos) */
.gallery-photos img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Galerie type */
.gallery-creation .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-creation .grid-item img {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.contact {
    padding: 40px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

.contact .grid-2 {
    gap: 5px;
}

.contact .grid-2 .grid-item {
    margin-left: 5px;
}

/* .contact-form input[type="checkbox"] {
    margin-top: 40px;
} */

.contact .grid-2 .grid-item #button {
    float: center;
    margin-top: 5px;
}

.contact .grid-2 .grid-item img {
    border-radius: 5px;
    width: 100%;
}

/* contact infos */
.contact .grid-2 .grid-item .contact-infos {
    text-align: left;
    margin-left: 40px;
}

.contac {

    /* Aligne le contenu de chaque élément de contact */
    display: flex;
    float: left;
    /* Aligne verticalement l'image et le texte au centre */
    gap: 0px;
    /* Espace entre l'icône et le texte */
}

/* Cible le lien de contact */
.contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black-color);
}

/* Cible l'icône dans le contact */
.contact-icon {
    width: 24px;
    height: 24px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info p:first-of-type {
    text-align: left;
    font-weight: bold;
    margin: 0;
}

.contact-info p:last-of-type {
    text-align: left;
    color: var(--gray-color);
    margin-left: 0;
}

.scrollTop {
    position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0;
    transition: all 1s;
    z-index: 999;
}

.scrollTop.visible {
    opacity: 1;
}

.flecheTop {
    height: 30px;
}