<footer>
	<div class="grid-3 grid-1-mobile">
		<div class="grid-item">
			<h2>Menus</h2>
			<ul>
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Événements</a></li>
				<li><a href="#">Calendrier</a></li>
				<li><a href="#">Galerie</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="grid-item">
			<h2>Mentions Légales</h2>
			<ul>
				<li><a href="#">Mentions Légales</a></li>
				<li><a href="#">Politique de confidentialité</a></li>
			</ul>
		</div>
		<div class="grid-item">
			<h2>Support</h2>
			<ul>
				<li><a href="#">Support Technique</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>
		</div>
	</div>
	<br>
	<div class="grid-container-2">
		<div class="footer-association-name">
			<img src="assets/logos/portal-asso.png" alt="">
			<p>© 2024 Association_Name | Tous droits réservés</p>
		</div>
	</div>
</footer>
