{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block body %}
    <h1>Configuration</h1>
        
    {{ include('configuration/_form.html.twig') }}

{% endblock %}



