{% extends ('base.html.twig') %}

{% block title %}Personalisation 1{% endblock %}

{% block body %}
    <h1>Personalisation 1</h1>

    {{ include('configuration/_form.html.twig') }}
    
{% endblock %}

